/*thead, tr{
    align-content: center;
    border: 1px solid black;
    box-sizing: border-box;
}*/


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  align-content: center;
}

